.choose {
  background: linear-gradient(244.84deg, #fbfeff 0%, #f2faff 99.61%);
  padding-left: 100px;
  padding-right: 100px;
  padding-top:60px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38.93px;
}

.choose-logo {
  display: flex;
  align-items: center;
  gap: 17.52px;
}

.choose-text {
  font-family: "Open Sans", sans-serif;
  font-size: 38.49px;
  font-weight: 600;
  line-height: 50.7px;
  color: #000d44;
  margin: 15px 0 20px 0;
}

.choose-content-div {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.choose-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.88px solid #004990;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-family: "DM Sans", sans-serif;
  font-size: 21px;
  font-weight: 600;
  background: linear-gradient(244.84deg, #fbfeff 0%, #f2faff 99.61%);
  color: #004990;
  text-align: center;
  box-sizing: border-box;
  flex-shrink: 0;
}

.choose-content-text {
  font-family: "Open Sans", sans-serif;
  font-size: 21.68px;
  font-weight: 600;
  line-height: 30.72px;
  color: #000d44;
  margin-top: 1px;
}

.choose-content-desc {
  font-family: "Open Sans", sans-serif;
  font-size: 14.45px;
  font-weight: 400;
  line-height: 25.29px;
  color: #788094;
  margin-top: 10px;
  margin-bottom: 20px;
}

.border-line {
  border-bottom: 0.9px solid #d8dde1;
}

.choose-sec {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Media Query for screens 1024px and below */
@media (max-width: 1024px) {
  .choose {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Media Query for screens 768px and below */
@media (max-width: 768px) {
  .choose {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Media Query for screens 600px and below */
@media (max-width: 600px) {
  .choose {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Media Query for screens 1200px and below */
@media (max-width: 1200px) {
  .choose {
    flex-direction: column; /* Stack content vertically */
    gap: 20px;
  }

  .choose-sec {
    display: none; /* Hide the image */
  }
}

/* Media Query for screens 1201px and above */
@media (min-width: 1201px) {
  .choose {
    flex-direction: row; /* Default row layout */
  }

  .choose-sec {
    display: flex; /* Ensure the image container is visible */
  }
}
