.service-card {
  box-shadow: 0px 1.81px 18.12px 0px #0000000f;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18.12px;
}
.service-card-title {
  font-family: Open Sans;
  font-size: 21.74px;
  font-weight: 600;
  line-height: 30.81px;
  color: #000d44;
  margin-top: 10px;
  text-align: center;
}
.service-card-doctors {
  font-family: Open Sans;
  font-size: 15.48px;
  font-weight: 400;
  line-height: 25.37px;
  text-align: center;
  color: #788094;
  margin-top: 10px;
}
.read-more {
  background: linear-gradient(
    180deg,
    #004990 37.5%,
    rgba(240, 244, 255, 0.99) 100%
  );
  box-shadow: 0px 1.81px 9.06px 0px #b8bfd080;
  font-family: DM Sans;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 12.68px;
  font-weight: 700;
  line-height: 12.68px;
  cursor: pointer;
  border-radius: 27.18px;
  margin-top: 15px;
}
