.footer-bg {
  background-color: #0f192b;
  padding: 50px;
  gap: 10.24px;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
.footer-logo-text {
  color: white;
  font-family: Outfit;
  font-size: 27.48px;
  font-weight: 800;
  line-height: 34.63px;
}
.footer-text {
  font-family: Roboto;
  font-size: 17.41px;
  font-weight: 400;
  line-height: 28.68px;
  color: white;
}
.social-links {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 13px;
}
.social-btn {
  background: #ffffff33;
  border-radius: 50%;
  width: 36.05px;
  height: 36.05px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  color: #2aa7ff;
  cursor: pointer;
  font-size: 16.39px;
  font-weight: 400;
  line-height: 16.39px;
  text-align: center;
}

.footer-title {
  font-family: Open Sans;
  font-size: 20.48px;
  font-weight: 600;
  line-height: 27.89px;
  color: white;
  margin-bottom: 14px;
}
.footer-link-icon {
  font-size: 15.36px;
  font-weight: 900;
  line-height: 15.36px;
  text-align: left;
  color: white;
  margin-right: 7px;
}
.footer-link-text {
  font-family: Roboto;
  font-size: 16.39px;
  font-weight: 400;
  line-height: 28.68px;
  color: white;
}
.footer-link-tag {
  margin-bottom: 5px;
}
.footer-border {
  border-top: 1.02px solid #ffffff1a;
}
.copyright-text {
  font-family: Open Sans;
  font-size: 16.39px;
  font-weight: 400;
  line-height: 28.68px;
  color: white;
  text-align: center;
  padding-top: 22px;
}
@media (min-width: 600px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 991px) {
  .footer-bg {
    padding: 50px;
    gap: 10.24px;
  }
  .footer-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1201px) {
  .footer-bg {
    /* padding: 50.72px 138.26px 50.72px 138.26px; */
    padding: 50.72px 152px 50.72px 152px;
  }
}
